Source: vita49
Version: 2020-10-13
Port-Version: 3
Homepage: https://github.com/rkesters/vita-49
Description: Host implementation of Virtual Radio Transport (VITA-49)
Build-Depends: boost-format,redhawk-vita49
